---
Checks:          'clang-diagnostic-*,clang-analyzer-*,modernize-*,readability-*,-readability-identifier-length,-readability-function-cognitive-complexity'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
