---
Checks: >
  bugprone-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  cplusplus-*,
  cppcoreguidelines-*,
  modernize-*,
  optin-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-do-while,
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: none
CheckOptions:
  - { key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor, value: true }
  - { key: cppcoreguidelines-special-member-functions.AllowMissingMoveFunctionsWhenCopyIsDeleted, value: true }
