conda_guess="${HOME}/.local/opt/conda/bin/conda"
[[ -x "${conda_guess}" ]] && eval "$(${conda_guess} shell.zsh hook)"
[[ -n "${CONDA_EXE}" && -d "${CONDA_EXE%/bin/conda}/envs/clang" ]] && conda activate clang
