ACTIVATE=( /mnt/scratch/kaminski/conda/bin/activate /home/kaminski/.local/opt/conda/bin/activate )

for activate in "${ACTIVATE[@]}"; do
    if [[ -e "${activate}" ]] && "${activate%activate}conda" env list | grep -qw '^clang\>'; then
        source "${activate}" clang
    fi
done

if [[ -z "${NVM_DIR}" && -f "${HOME}/.nvm/nvm.sh" ]]; then
    echo "dir set"
    NVM_DIR="${HOME}/.nvm"
    export NVM_DIR
fi

if [[ -n "${NVM_DIR}" ]]; then
    source ${NVM_DIR}/nvm.sh
    nvm use --lts > /dev/null
fi

if [[ -f ".venv/bin/activate" ]]; then
    source ".venv/bin/activate"
fi

unset PS1
