ACTIVATE=( /mnt/scratch/kaminski/conda/bin/activate /home/kaminski/.local/opt/conda/bin/activate )

for activate in "${ACTIVATE[@]}"; do
    if [[ -e "${activate}" ]] && "${activate%activate}conda" env list -q | grep -qw '^conda\>'; then
        source "${activate}" clang
    fi
done

if [[ -d .venv ]]; then
    source .venv/bin/activate
fi

unset PS1
