.cache
.gdb_history
.nfs*
/*.aspif
/*.lp
/*.prof
/*.profdata
/*.py
/.venv
/.vs
/CMakeSettings.json
/build
/dist
/doc/html
/doc/latex
/examples/html/js/parser.js
/examples/html/js/parser.wasm
/examples/js/parser.js
/examples/js/parser.wasm
/gcov-*
/out/build/x64-Debug
/out/install/x64-Debug
/pdoc
/test*
CMakeLists.txt.user
__pycache__
compile_commands.json
wheelhouse
