[submodule "clasp"]
	path = clasp
	url = https://github.com/potassco/clasp.git
	branch = dev
[submodule "third_party/catch"]
	path = third_party/catch
	url = ../../catchorg/Catch2.git
[submodule "third_party/ordered-map"]
	path = third_party/ordered-map
	url = ../../Tessil/ordered-map.git
[submodule "third_party/hopscotch-map"]
	path = third_party/hopscotch-map
	url = ../../Tessil/hopscotch-map.git
