build
build_*
release
.cache
compile_commands.json
.gdb_history
env.sh
/*.lp
test
examples/html/js/parser.js
examples/html/js/parser.wasm
examples/js/parser.js
examples/js/parser.wasm
doc/html
doc/latex
example.*
