*.swp
.sconf_temp
.sconsign.dblite
build
*.pyc
doc
*.opendb
Debug
Release
ReleaseScript
.vs
*.db
*.vcxproj.user
x64
libgringo/generated
homewv.sh
.nfs*
examples/clingo/pydoc/clingo.ast.html
examples/clingo/pydoc/clingo.html
cmake/FindBISON.cmake
