[submodule "clasp"]
	path = clasp
	url = https://github.com/potassco/clasp.git
	branch = dev
[submodule "third_party/catch"]
	path = third_party/catch
	url = ../../catchorg/Catch2.git
[submodule "third_party/ordered-map"]
	path = third_party/ordered-map
	url = ../../Tessil/ordered-map.git
[submodule "third_party/hopscotch-map"]
	path = third_party/hopscotch-map
	url = ../../Tessil/hopscotch-map.git
[submodule "third_party/sparse-map"]
	path = third_party/sparse-map
	url = ../../Tessil/sparse-map.git
[submodule "third_party/optional"]
	path = third_party/optional
	url = ../../TartanLlama/optional.git
[submodule "third_party/variant"]
	path = third_party/variant
	url = ../../mpark/variant.git
[submodule "third_party/wide-integer"]
	path = third_party/wide-integer
	url = ../../ckormanyos/wide-integer.git
