# Use container-based distribution
sudo: false
language: c++
matrix:
  include:
    - os: linux
      compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
            - re2c
            - liblua5.1-0-dev
            - zsh
            - libcppunit-dev
      env:
        - CC=gcc-5
        - CXX=g++-5
    - os: osx
      osx_image: xcode8
      env:
        - CC=clang
        - CXX=clang++

install:
  - echo $CXX ${CXX}

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update  ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install lua bison re2c scons cmake cppunit; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew link bison --force; fi

script:
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
      CMAKE_URL="http://www.cmake.org/files/v3.3/cmake-3.3.2-Linux-x86_64.tar.gz";
      mkdir cmake-bin && wget --quiet --no-check-certificate -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake-bin;
      export PATH=${PWD}/cmake-bin/bin:${PATH};
    fi
  - echo $CXX ${CXX}
  - mkdir build && cd build && cmake -DCMAKE_C_COMPILER=${CC} -DCMAKE_CXX_COMPILER=${CXX} .. && make && make test

