include setup.py
include pyproject.toml
include CMakeLists.txt
include LICENSE.md
include README.md
recursive-include app *
recursive-include clasp *
recursive-include cmake *
recursive-include libclingo  *
recursive-include libgringo *
recursive-include libluaclingo *
recursive-include libpyclingo *
include libpyclingo_cffi/*.c
include libpyclingo_cffi/*.h
include libpyclingo_cffi/*.h.in
include libpyclingo_cffi/CMakeLists.txt
recursive-include libpyclingo_cffi/clingo *
recursive-include libreify *
prune _skbuild
global-exclude *.py[cod]
