include setup.py
include pyproject.toml
include CMakeLists.txt
include LICENSE.md
include README.md
recursive-include app *
recursive-include clasp *
recursive-include cmake *
recursive-include libclingo  *
recursive-include libgringo *
recursive-include libluaclingo *
include libpyclingo/*.c
include libpyclingo/*.h
include libpyclingo/*.h.in
include libpyclingo/CMakeLists.txt
recursive-include libpyclingo/clingo *.py *.typed
recursive-include libreify *
include third_party/CMakeLists.txt
recursive-include third_party/hopscotch-map/include *
recursive-include third_party/optional/include *
recursive-include third_party/ordered-map/include *
recursive-include third_party/sparse-map/include *
recursive-include third_party/variant/include *
recursive-include third_party/wide-integer/math *
include third_party/hopscotch-map/LICENSE
include third_party/optional/COPYING
include third_party/ordered-map/LICENSE
include third_party/sparse-map/LICENSE
include third_party/variant/LICENSE.md
include third_party/wide-integer/LICENSE_1_0.txt
prune _skbuild
global-exclude *.py[cod]
