#!/usr/bin/make -f

export CLINGO_BUILD_REVISION = c332ee1e

%:
	dh $@ --with python3

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH) -DCLINGO_BUILD_REVISION=$(CLINGO_BUILD_REVISION) -DCLINGO_REQUIRE_LUA=On -DCLINGO_REQUIRE_PYTHON=On -DPYCLINGO_USER_INSTALL=Off -DPYCLINGO_USE_CFFI=On -DCLINGO_MANAGE_RPATH=Off -DPYCLINGO_INSTALL_DIR=/usr/lib/python3/dist-packages
