{%  for argument_name, argument in type.arguments.items() -%}
{%    set argument_type = argument.type | camel -%}
{%    if argument.type == 'location' %}
auto {{ c_type_name }}::{{argument_name}}() -> clingo_location_t {
    clingo_location_t ret;
    if (!clingo_ast_attribute_get_location(ast_, clingo_ast_attribute_{{argument_name}}, &ret)) {
        throw std::runtime_error("could not get location attribute");
    }
    return ret;
}
{%    elif argument.type == 'number' %}
auto {{ c_type_name }}::{{ argument_name }}() -> int {
    int ret;
    if (!clingo_ast_attribute_get_number(ast_, clingo_ast_attribute_{{ argument_name }}, &ret)) {
        throw std::runtime_error("could not get number attribute");
    }
    return ret;
}
{%    elif argument.type == 'bool' %}
auto {{ c_type_name }}::{{ argument_name }}() -> bool {
    int ret;
    if (!clingo_ast_attribute_get_number(ast_, clingo_ast_attribute_{{ argument_name }}, &ret)) {
        throw std::runtime_error("could not get number attribute");
    }
    return ret != 0;
}
{%    elif argument.type == 'symbol' %}
auto {{ c_type_name }}::{{ argument_name }}() -> Symbol {
    clingo_symbol_t ret;
    if (!clingo_ast_attribute_get_symbol(ast_, clingo_ast_attribute_{{ argument_name }}, &ret)) {
        throw std::runtime_error("could not get symbol attribute");
    }
    return Symbol::acquire(ret);
}
{%    elif argument.type == 'string' %}
auto {{ c_type_name }}::{{ argument_name }}() -> char const * {
    char const *ret;
    if (!clingo_ast_attribute_get_string(ast_, clingo_ast_attribute_{{ argument_name }}, &ret)) {
        throw std::runtime_error("could not get string attribute");
    }
    return ret;
}
{%    elif argument.type == 'string_array' %}
auto {{ c_type_name }}::{{ argument_name }}() -> std::vector<char const *> {
    size_t size;
    if (!clingo_ast_attribute_get_string_array(ast_, clingo_ast_attribute_{{ argument_name }}, nullptr, &size)) {
        throw std::runtime_error("could not get string array attribute");
    }
    std::vector<char const *> ret;
    ret.resize(size, nullptr);
    if (!clingo_ast_attribute_get_string_array(ast_, clingo_ast_attribute_{{ argument_name }}, ret.data(), &size)) {
        throw std::runtime_error("could not get string array attribute");
    }
    return ret;
}
{%    elif types[argument.type].type == 'optional' %}
auto {{ c_type_name }}::{{ argument_name }}() -> {{ argument_type }} {
    clingo_ast_t *ast;
    if (!clingo_ast_attribute_get_ast(ast_, clingo_ast_attribute_{{ argument_name }}, &ast)) {
        throw std::runtime_error("could not get ast attribute");
    }
    if (ast != nullptr) {
{%-     set value_type = types[argument.type].value_type %}
        // {{ value_type }}
{%-     if types[value_type].type == 'union' %}
        return construct_{{ value_type }}(ast);
{%-     else %}
        return {{ value_type | camel }}::acquire(ast);
{%-     endif %}
    }
    return std::nullopt;
}
{%    elif types[argument.type].type == 'enum' %}
auto {{ c_type_name }}::{{ argument_name }}() -> {{ argument_type }} {
    int ret;
    if (!clingo_ast_attribute_get_number(ast_, clingo_ast_attribute_{{ argument_name }}, &ret)) {
        throw std::runtime_error("could not get number attribute");
    }
    return static_cast<{{ argument_type }}>(ret);
}
{%    elif types[argument.type].type == 'array' %}
auto {{ c_type_name }}::{{ argument_name }}() -> {{ argument_type }} {
    clingo_ast_t **ast;
    size_t size;
    if (!clingo_ast_attribute_get_ast_array(ast_, clingo_ast_attribute_{{ argument_name }}, &ast, &size)) {
        throw std::runtime_error("could not get ast array attribute");
    }
    return construct_{{ argument.type }}(ast, size);
}
{%    elif types[argument.type].type == 'union' %}
auto {{ c_type_name }}::{{ argument_name }}() -> {{ argument_type }} {
    clingo_ast_t *ast;
    if (!clingo_ast_attribute_get_ast(ast_, clingo_ast_attribute_{{ argument_name }}, &ast)) {
        throw std::runtime_error("could not get ast attribute");
    }
    return construct_{{ argument.type }}(ast);
}
{%    elif types[argument.type].type == 'record' %}
auto {{ c_type_name }}::{{ argument_name }}() -> {{ argument_type }} {
    clingo_ast_t *ast;
    if (!clingo_ast_attribute_get_ast(ast_, clingo_ast_attribute_{{ argument_name }}, &ast)) {
        throw std::runtime_error("could not get ast attribute");
    }
    return {{ argument_type }}::acquire(ast);
}
{%    endif %}
{%- endfor %}
auto {{ c_type_name }}::construct(Library &lib{% for argument_name, argument in type.arguments.items() %}, {{ argument.type | cref }}{{ argument_name }}{% endfor %}) -> {{ c_type_name }} {
    clingo_ast_t *res_;
    handle_error(lib, clingo_ast_construct(lib, clingo_ast_type_{{ type_name }}, &res_{% for argument in type.arguments | c_cast(types) %}, {{ argument }}{% endfor %}));
    return {{ c_type_name }}::acquire(res_);
}

void {{ c_type_name }}::visit(py::handle visitor, py::args const &args, py::kwargs const &kwargs) {
{%- for argument_name, argument in type.arguments.items() -%}
{%-   if argument.type in types %}
{%-     if types[argument.type].type in ('union', 'record') %}
    visitor({{ argument_name }}(), *args, **kwargs);
{%-     elif types[argument.type].type == 'optional' %}
    if (auto opt = {{ argument_name }}()) {
        visitor(*opt, *args, **kwargs);
    }
{%-     elif types[argument.type].type == 'array' %}
{%-       set value_type = types[argument.type].value_type %}
    visit_array(ast_, clingo_ast_attribute_{{ argument_name }}, visitor, args, kwargs, {% if types[value_type].type == 'union' -%} construct_{{ value_type }} {%- else -%} {{ value_type | camel }}::acquire {%- endif %});
{%-     endif %}
{%-   endif %}
{%- endfor %}
}

auto {{ c_type_name }}::transform(Library &lib, py::handle transform, py::args const &args, py::kwargs const &kwargs) -> std::optional<{{ c_type_name }}> {
{%- for argument_name, argument in type.arguments.items() -%}
{%-   if argument.type in types %}
{%-     if types[argument.type].type in ('union', 'record') %}
    auto [{{ argument_name }}_value, {{ argument_name }}_changed] = transform_value({{ argument_name }}(), transform, args, kwargs);
{%-     elif types[argument.type].type == 'optional' %}
    auto [{{ argument_name }}_value, {{ argument_name }}_changed] = transform_opt_value({{ argument_name }}(), transform, args, kwargs);
{%-     elif types[argument.type].type == 'array' %}
{%-       set value_type = types[argument.type].value_type %}
    auto [{{ argument_name }}_value, {{ argument_name }}_changed] = transform_array({{ argument_name }}(), transform, args, kwargs);
{%-     endif %}
{%-   endif %}
{%- endfor %}
{%- if type.arguments | transform_cond(types) != "false" %}
    if ({{ type.arguments | transform_cond(types) }}) {
        return {{ c_type_name }}::construct({{ type.arguments | transform_cons(types) }});
    }
{%- endif %}
    return std::nullopt;
}

auto {{ c_type_name }}::update(Library &lib, py::kwargs const &kwargs) -> {{ c_type_name }} {
    return {{ c_type_name }}::construct(lib
{%- for argument_name, argument in type.arguments.items() %}
        , update_value<{{ argument.type | cval }}>(lib, this, &{{ c_type_name }}::{{ argument_name }}, kwargs, "{{ argument_name }}")
{%- endfor %});
}
