class {{ c_type_name }} {
public:
    // Note: for pybind
    {{ c_type_name }}() = default;

    {{ c_type_name }}({{ c_type_name }} const &x) {
        if (!clingo_ast_copy(x.ast_, &ast_)) {
            throw std::runtime_error("could not copy ast");
        }
    }

    {{ c_type_name }}({{ c_type_name }} &&x) noexcept {
        std::swap(ast_, x.ast_);
    }

    auto operator=({{ c_type_name }} const &x) -> {{ c_type_name }}& {
        clingo_ast_free(ast_);
        ast_ = nullptr;
        if (!clingo_ast_copy(x.ast_, &ast_)) {
            throw std::runtime_error("could not copy ast");
        }
        return *this;
    }

    auto operator=({{ c_type_name }} &&x) noexcept -> {{ c_type_name }}& {
        std::swap(ast_, x.ast_);
        return *this;
    }

    [[nodiscard]] auto hash() const -> size_t {
        return clingo_ast_hash(ast_);
    }

    friend auto operator==({{ c_type_name }} const &a, {{ c_type_name }} const &b) -> bool {
        return clingo_ast_equal(a.ast_, b.ast_);
    }

    friend auto operator<({{ c_type_name }} const &a, {{ c_type_name }} const &b) -> bool {
        return clingo_ast_less_than(a.ast_, b.ast_);
    }

    CLINGO_CPP_TOTAL_ORDER(friend, {{ c_type_name }})

    auto to_string() -> std::string {
        size_t len = 0;
        if (!clingo_ast_to_string_size(ast_, &len)) {
            throw std::runtime_error("could convert to string");
        }
        std::string str;
        str.resize(len);
        if (!clingo_ast_to_string(ast_, str.data(), len)) {
            throw std::runtime_error("could convert to string");
        }
        if (!str.empty() && str.back() == '\0') {
            str.pop_back();
        }
        return str;
    }

    ~{{ c_type_name }}() {
        clingo_ast_free(ast_);
    }
{% for argument_name, argument in type.arguments.items() -%}
{% if argument.type == 'location' %}
    auto {{ argument_name }}() -> clingo_location_t;
{% elif argument.type == 'string' %}
    auto {{ argument_name }}() -> char const *;
{% elif argument.type == 'number' %}
    auto {{ argument_name }}() -> int;
{% elif argument.type == 'bool' %}
    auto {{ argument_name }}() -> bool;
{% elif argument.type == 'symbol' %}
    auto {{ argument_name }}() -> Symbol;
{% elif argument.type == 'string_array' %}
    auto {{ argument_name }}() -> std::vector<char const *>;
{% else %}
    auto {{ argument_name }}() -> {{ argument.type | camel }};
{% endif %}
{%- endfor %}
    static auto acquire(clingo_ast_t *ast) -> {{ c_type_name }} {
        return {ast};
    }

    static auto construct(Library &lib{% for argument_name, argument in type.arguments.items() %}, {{ argument.type | cref }}{{ argument_name }}{% endfor %}) -> {{ c_type_name }};

    friend auto c_cast({{ c_type_name }} const &x) -> clingo_ast_t *;

private:
    {{ c_type_name }}(clingo_ast_t *ast) : ast_{ast} { }

    clingo_ast_t *ast_ = nullptr;
};

inline auto c_cast({{ c_type_name }} const &x) -> clingo_ast_t * {
    return x.ast_;
}
