#pragma once

#include <pybind11/functional.h>
#include <pybind11/operators.h>
#include <pybind11/pybind11.h>

#include "core.hh"
#include "symbol.hh"

namespace Clingo::AST {

namespace py = pybind11;

using Clingo::Symbol::Symbol;

using StringArray = std::vector<std::string>;

template <class T>
auto c_cast(std::optional<T> const &opt) -> clingo_ast_t*;

template <class... Ts>
auto c_cast(std::variant<Ts...> const &var) -> clingo_ast_t*;

template <class T>
auto c_cast(std::vector<T> const &arr) -> std::vector<clingo_ast_t*>;

auto c_cast(StringArray const &arr) -> std::vector<char const *> {
    std::vector<char const *> ret;
    ret.reserve(arr.size());
    for (auto const &str : arr) {
        ret.emplace_back(str.c_str());
    }
    return ret;
}

{%  for type_name, type in types.items() -%}
{%    set c_type_name = type_name | camel -%}
{%    if type.type == 'optional' %}
using {{ c_type_name }} = std::optional<{{ type.value_type | camel }}>;
{%    elif type.type == 'array' %}
{%      for name in type["value_type"] | forward(type_name, types) -%}
class {{ name | camel }};

{%      endfor -%}
using {{ c_type_name }} = std::vector<{{ type.value_type | camel }}>;

auto construct_{{ type_name }}(clingo_ast_t **ast, size_t size) -> {{ c_type_name }};
{%    elif type.type == 'union' %}
{%     for name in type["types"] | forward(type_name, types) -%}
class {{ name | camel }};

{%     endfor -%}
using {{ c_type_name }} = std::variant<{{ type.types | map("camel") | join(", ") }}>;

auto construct_{{ type_name }}(clingo_ast_t *ast) -> {{ c_type_name }};
{%    elif type.type == 'enum' %}
enum class {{ c_type_name }} {
{%-     for name, attr in type["values"].items() %}
    {{ name | camel }} = {{ attr.value }},
{%-     endfor %}
};
{%    elif type.type == 'record' %}
{% include "_record_declare_cpp.j2" %}
{%    endif %}
{%- endfor %}
{%- for type_name, type in types.items() -%}
{%    set c_type_name = type_name | camel -%}
{%    if type.type == 'array' %}
{%      if types[type.value_type].type == "union" -%}
{%        set cons = "construct_" + type.value_type -%}
{%      else -%}
{%        set cons = type.value_type | camel + "::acquire" -%}
{%      endif -%}
auto construct_{{ type_name }}(clingo_ast_t **ast, size_t size) -> {{ c_type_name }} {
    {{ c_type_name }} ret;
    try {
        ret.reserve(size);
        std::for_each_n(ast, size, [&ret](auto &arg){
            auto tmp = arg;
            arg = nullptr;
            ret.emplace_back({{ cons }}(tmp));
        });
        clingo_ast_array_free(ast, size);
    }
    catch (...) {
        clingo_ast_array_free(ast, size);
        throw;
    }
    return ret;
}
{%    elif type.type == 'union' %}
auto construct_{{ type_name }}(clingo_ast_t *ast) -> {{ c_type_name }} {
    clingo_ast_type_t type;
    if (!clingo_ast_get_type(ast, &type)) {
        clingo_ast_free(ast);
        throw std::runtime_error("could not get type");
    }
    switch (type) {
{%-     for sub_type in type.types | flatten_types(types) %}
        case clingo_ast_type_{{sub_type}}: {
            return {{ sub_type | camel }}::acquire(ast);
        }
{%-     endfor %}
    }
    clingo_ast_free(ast);
    throw std::runtime_error("unexpected ast type");
}
{%    elif type.type == 'record' %}
{%- include "_record_define_cpp.j2" %}
{%    endif %}
{%- endfor %}
template <class T>
auto c_cast(std::optional<T> const &opt) -> clingo_ast_t* {
    if (opt) {
        return c_cast(*opt);
    }
    return nullptr;
}

template <class... Ts>
auto c_cast(std::variant<Ts...> const &var) -> clingo_ast_t* {
    return std::visit([](auto const &x) { return c_cast(x); }, var);
}

template <class T>
auto c_cast(std::vector<T> const &arr) -> std::vector<clingo_ast_t*> {
    std::vector<clingo_ast_t*> ret;
    ret.reserve(arr.size());
    for (auto const &x : arr)  {
        ret.emplace_back(c_cast(x));
    }
    return ret;
}

auto parse_term(Library &lib, char const *string) -> Term {
    clingo_ast_t *ast;
    handle_error(lib, clingo_ast_parse_expression(lib, clingo_ast_parse_type_term, string, &ast));
    return construct_term(ast);
}

auto parse_theory_term(Library &lib, char const *string) -> TheoryTerm {
    clingo_ast_t *ast;
    handle_error(lib, clingo_ast_parse_expression(lib, clingo_ast_parse_type_theory_term, string, &ast));
    return construct_theory_term(ast);
}

auto parse_literal(Library &lib, char const *string) -> Literal {
    clingo_ast_t *ast;
    handle_error(lib, clingo_ast_parse_expression(lib, clingo_ast_parse_type_literal, string, &ast));
    return construct_literal(ast);
}

auto parse_head_literal(Library &lib, char const *string) -> HeadLiteral {
    clingo_ast_t *ast;
    handle_error(lib, clingo_ast_parse_expression(lib, clingo_ast_parse_type_head_literal, string, &ast));
    return construct_head_literal(ast);
}

auto parse_body_literal(Library &lib, char const *string) -> BodyLiteral {
    clingo_ast_t *ast;
    handle_error(lib, clingo_ast_parse_expression(lib, clingo_ast_parse_type_body_literal, string, &ast));
    return construct_body_literal(ast);
}

auto parse_statement(Library &lib, char const *string) -> Statement {
    clingo_ast_t *ast;
    handle_error(lib, clingo_ast_parse_expression(lib, clingo_ast_parse_type_statement, string, &ast));
    return construct_statement(ast);
}

void register_module(pybind11::module &m) {
    auto ast = m.def_submodule("ast", doc(R"(
This module provides functions to work with Abstract Syntax Trees of logic programs.
)"));

    ast.def("_type_info_yaml", &clingo_ast_type_info_yaml, doc(R"(
Return a yaml description of the AST.

This can be used to auto-generate most of the binding.)"));
{%  for type_name, type in types.items() -%}
{%    set c_type_name = type_name | camel -%}
{%    if type.type == 'enum' %}
    auto py_{{ type_name }} = py::enum_<{{ c_type_name }}>(ast, "{{ c_type_name }}", R"doc({{ type.doc }})doc");
{%    elif type.type == 'record' %}
    auto py_{{ type_name }} = py::class_<{{ c_type_name }}>(ast, "{{ c_type_name }}", R"doc({{ type.doc | doc }})doc");
{%    endif %}
{%- endfor %}
{%  for type_name, type in types.items() -%}
{%    set c_type_name = type_name | camel -%}
{%    if type.type == 'enum' %}
    py_{{ type_name }}
{%-     for value_name, value_type in type["values"].items() %}
        .value("{{ value_name | camel }}", {{ c_type_name }}::{{ value_name | camel }}, R"doc({{ value_type.doc }})doc")
{%-       if loop.last %};{% endif -%}
{%-     endfor %}
{%    elif type.type == 'record' %}
    py_{{ type_name }}
        .def(py::init(&{{ c_type_name }}::construct), py::arg("lib")
        {%- for argument_name, argument in type.arguments.items() -%}
            , py::arg("{{ argument_name }}")
            {%- if "default" in argument %}
              {%- if argument.type == "bool" %} = {{ argument.default | string | lower }}
              {%- elif types[argument.type].type == "array" and argument.default == "empty" %} = {{ argument.type | camel }}{}
              {%- elif types[argument.type].type == "optional" and argument.default == "empty" %} = std::nullopt
              {%- endif %}
            {%- endif %}
        {%- endfor %}, R"doc(Construct a {{ c_type_name }} object.

Parameters
----------
lib
    The library object for storing symbols.
{%-     for argument_name, argument in type.arguments.items() %}
{{ argument_name }}
{{ argument.doc | param_doc }}
{%-     endfor %})doc")
        .def("__str__", &{{ c_type_name }}::to_string)
        .def("__hash__", &{{ c_type_name }}::hash)
{%-     for argument_name, argument in type.arguments.items() %}
        .def_property_readonly("{{argument_name}}", &{{ c_type_name }}::{{argument_name}}, R"doc({{ argument.doc }})doc")
{%-     endfor %}
        // generate comparison operators
        CLINGO_PY_TOTAL_ORDER;
{%    endif %}
{%- endfor %}
    ast.def("parse_term", &parse_term, py::arg("lib"), py::arg("string"), R"doc(Parse a term.

Parameters
----------
lib
    The library object for storing symbols.
string
    The string to parse.

Returns
-------
The parsed Term object.)doc");
    ast.def("parse_theory_term", &parse_theory_term, py::arg("lib"), py::arg("string"), R"doc(Parse a theory term.

Parameters
----------
lib
    The library object for storing symbols.
string
    The string to parse.

Returns
-------
The parsed TheoryTerm object.)doc");
    ast.def("parse_literal", &parse_literal, py::arg("lib"), py::arg("string"), R"doc(Parse a literal.

Parameters
----------
lib
    The library object for storing symbols.
string
    The string to parse.

Returns
-------
The parsed Literal object.)doc");
    ast.def("parse_head_literal", &parse_head_literal, py::arg("lib"), py::arg("string"), R"doc(Parse a head literal.

Parameters
----------
lib
    The library object for storing symbols.
string
    The string to parse.

Returns
-------
The parsed HeadLiteral object.)doc");
    ast.def("parse_body_literal", &parse_body_literal, py::arg("lib"), py::arg("string"), R"doc(Parse a body literal.

Parameters
----------
lib
    The library object for storing symbols.
string
    The string to parse.

Returns
-------
The parsed BodyLiteral object.)doc");
    ast.def("parse_statement", &parse_statement, py::arg("lib"), py::arg("string"), R"doc(Parse a statement.

Parameters
----------
lib
    The library object for storing symbols.
string
    The string to parse.

Returns
-------
The parsed Statement object.)doc");
}

}
