#pragma once

#include <pybind11/functional.h>
#include <pybind11/operators.h>
#include <pybind11/pybind11.h>

#include "core.hh"
#include "symbol.hh"

namespace Clingo::AST {

namespace py = pybind11;

using Clingo::Symbol::Symbol;

using StringArray = std::vector<std::string>;

template <class T>
auto c_cast(std::optional<T> const &opt) -> clingo_ast_t*;

template <class... Ts>
auto c_cast(std::variant<Ts...> const &var) -> clingo_ast_t*;

template <class T>
auto c_cast(std::vector<T> const &arr) -> std::vector<clingo_ast_t*>;

auto c_cast(StringArray const &arr) -> std::vector<char const *> {
    std::vector<char const *> ret;
    ret.reserve(arr.size());
    for (auto const &str : arr) {
        ret.emplace_back(str.c_str());
    }
    return ret;
}

enum class ProjectionMode {
    Disabled = clingo_projection_mode_disabled,
    Anonymous = clingo_projection_mode_anonymous,
    Pure = clingo_projection_mode_pure,
};

{%  for type_name, type in types.items() -%}
{%    set c_type_name = type_name | camel -%}
{%    if type.type == 'optional' %}
using {{ c_type_name }} = std::optional<{{ type.value_type | camel }}>;
{%    elif type.type == 'array' %}
{%      for name in type["value_type"] | forward(type_name, types) -%}
class {{ name | camel }};

{%      endfor -%}
using {{ c_type_name }} = std::vector<{{ type.value_type | camel }}>;

auto construct_{{ type_name }}(clingo_ast_t **ast, size_t size) -> {{ c_type_name }};
{%    elif type.type == 'union' %}
{%     for name in type["types"] | forward(type_name, types) -%}
class {{ name | camel }};

{%     endfor -%}
using {{ c_type_name }} = std::variant<{{ type.types | map("camel") | join(", ") }}>;

auto construct_{{ type_name }}(clingo_ast_t *ast) -> {{ c_type_name }};
{%    elif type.type == 'enum' %}
enum class {{ c_type_name }} {
{%-     for name, attr in type["values"].items() %}
    {{ name | camel }} = {{ attr.value }},
{%-     endfor %}
};
{%    elif type.type == 'record' %}
{% include "_record_declare_cpp.j2" %}
{%    endif %}
{%- endfor %}
{%- for type_name, type in types.items() -%}
{%    set c_type_name = type_name | camel -%}
{%    if type.type == 'array' %}
{%      if types[type.value_type].type == "union" -%}
{%        set cons = "construct_" + type.value_type -%}
{%      else -%}
{%        set cons = type.value_type | camel + "::acquire" -%}
{%      endif -%}
auto construct_{{ type_name }}(clingo_ast_t **ast, size_t size) -> {{ c_type_name }} {
    {{ c_type_name }} ret;
    try {
        ret.reserve(size);
        std::for_each_n(ast, size, [&ret](auto &arg){
            auto tmp = arg;
            arg = nullptr;
            ret.emplace_back({{ cons }}(tmp));
        });
        clingo_ast_array_free(ast, size);
    }
    catch (...) {
        clingo_ast_array_free(ast, size);
        throw;
    }
    return ret;
}
{%    elif type.type == 'union' %}
auto construct_{{ type_name }}(clingo_ast_t *ast) -> {{ c_type_name }} {
    clingo_ast_type_t type;
    if (!clingo_ast_get_type(ast, &type)) {
        clingo_ast_free(ast);
        throw std::runtime_error("could not get type");
    }
    switch (type) {
{%-     for sub_type in type.types | flatten_types(types) %}
        case clingo_ast_type_{{sub_type}}: {
            return {{ sub_type | camel }}::acquire(ast);
        }
{%-     endfor %}
    }
    clingo_ast_free(ast);
    throw std::runtime_error("unexpected ast type");
}
{%    elif type.type == 'record' %}
{%- include "_record_define_cpp.j2" %}
{%    endif %}
{%- endfor %}
template <class T>
auto c_cast(std::optional<T> const &opt) -> clingo_ast_t* {
    if (opt) {
        return c_cast(*opt);
    }
    return nullptr;
}

template <class... Ts>
auto c_cast(std::variant<Ts...> const &var) -> clingo_ast_t* {
    return std::visit([](auto const &x) { return c_cast(x); }, var);
}

template <class T>
auto c_cast(std::vector<T> const &arr) -> std::vector<clingo_ast_t*> {
    std::vector<clingo_ast_t*> ret;
    ret.reserve(arr.size());
    for (auto const &x : arr)  {
        ret.emplace_back(c_cast(x));
    }
    return ret;
}

auto parse_term(Library &lib, char const *string) -> Term {
    clingo_ast_t *ast;
    handle_error(lib, clingo_ast_parse_expression(lib, clingo_ast_parse_type_term, string, &ast));
    return construct_term(ast);
}

auto parse_theory_term(Library &lib, char const *string) -> TheoryTerm {
    clingo_ast_t *ast;
    handle_error(lib, clingo_ast_parse_expression(lib, clingo_ast_parse_type_theory_term, string, &ast));
    return construct_theory_term(ast);
}

auto parse_literal(Library &lib, char const *string) -> Literal {
    clingo_ast_t *ast;
    handle_error(lib, clingo_ast_parse_expression(lib, clingo_ast_parse_type_literal, string, &ast));
    return construct_literal(ast);
}

auto parse_head_literal(Library &lib, char const *string) -> HeadLiteral {
    clingo_ast_t *ast;
    handle_error(lib, clingo_ast_parse_expression(lib, clingo_ast_parse_type_head_literal, string, &ast));
    return construct_head_literal(ast);
}

auto parse_body_literal(Library &lib, char const *string) -> BodyLiteral {
    clingo_ast_t *ast;
    handle_error(lib, clingo_ast_parse_expression(lib, clingo_ast_parse_type_body_literal, string, &ast));
    return construct_body_literal(ast);
}

auto parse_statement(Library &lib, char const *string) -> Statement {
    clingo_ast_t *ast;
    handle_error(lib, clingo_ast_parse_expression(lib, clingo_ast_parse_type_statement, string, &ast));
    return construct_statement(ast);
}

class Scanner {
public:
    class Iterator {
        public:
        using iterator_category = std::input_iterator_tag;
        using difference_type   = std::ptrdiff_t;
        using value_type        = Statement;
        using reference         = Statement &;
        using pointer           = Statement *;

        Iterator(Scanner *scanner = nullptr) : scanner_{scanner} {}

        auto operator*() -> value_type {
            return *std::move(scanner_->value_);
        }

        auto operator->() -> pointer {
            return &*scanner_->value_;
        }

        auto operator++() -> Iterator & {
            scanner_->next();
            return *this;
        }

        void operator++(int) {
            scanner_->next();
        }

        friend auto operator==(Iterator const &a, Iterator const &b) -> bool {
            if (a.scanner_ != nullptr && b.scanner_ == nullptr) {
                return !a.scanner_->value_.has_value();
            }
            if (a.scanner_ == nullptr && b.scanner_ != nullptr) {
                return !b.scanner_->value_.has_value();
            }
            return a.scanner_ == b.scanner_;
        }

        friend auto operator!=(Iterator const &a, Iterator const &b) -> bool {
            return !(a == b);
        }

    private:
        Scanner *scanner_;
    };
    friend auto operator==(Iterator const &a, Iterator const &b) -> bool;
    friend auto operator!=(Iterator const &a, Iterator const &b) -> bool;

    Scanner(Library &lib, char const *program) : lib_{lib} {
        handle_error(lib, clingo_ast_scan_string(lib, program, &scanner_));
    }

    Scanner(Library &lib, std::vector<std::string> files) : lib_{lib} {
        std::vector<char const *> cfiles;
        cfiles.reserve(cfiles.size());
        std::transform(files.begin(), files.end(), std::back_inserter(cfiles), [](auto const &file){ return file.c_str(); });
        handle_error(lib, clingo_ast_scan_files(lib, cfiles.data(), cfiles.size(), &scanner_));
    }

    Scanner(Scanner const &other) = delete;
    auto operator=(Scanner const &other) -> Scanner & = delete;

    Scanner(Scanner &&other) noexcept {
        *this = std::move(other);
    }
    auto operator=(Scanner &&other) noexcept -> Scanner & {
        std::swap(lib_, other.lib_);
        std::swap(scanner_, other.scanner_);
        std::swap(value_, other.value_);
        return *this;
    }

    auto iter() -> py::iterator {
        next();
        return py::make_iterator(Iterator{this}, Iterator{});
    }
    void next() {
        clingo_ast_t *ast;
        handle_error(lib_, clingo_ast_scanner_next(scanner_, &ast));
        if (ast != nullptr) {
            value_ = construct_statement(ast);
        }
        else {
            value_.reset();
        }
    }

    void close() {
        if (scanner_ != nullptr) {
            clingo_ast_scanner_close(scanner_);
            scanner_ = nullptr;
        }
    }
    ~Scanner() {
        close();
    }

private:
    clingo_lib_t *lib_ = nullptr;
    clingo_ast_scanner_t *scanner_ = nullptr;
    std::optional<Statement> value_;
};

auto simplify_statement(Library &lib, Statement &stm, std::vector<std::string> parameters, ProjectionMode mode,
                        bool project_anonymous) -> std::vector<Statement> {
    std::vector<char const *> params;
    params.reserve(parameters.size());
    std::transform(parameters.begin(), parameters.end(), std::back_inserter(params),
                   [](auto const &str) { return str.c_str(); });
    struct Array {
        ~Array() { clingo_ast_array_free(result, result_size); }
        clingo_ast_t **result = nullptr;
        size_t result_size = 0;
    };
    auto arr = Array{};
    clingo_ast_rewrite_options_t options{static_cast<clingo_projection_mode_e>(mode), project_anonymous};
    handle_error(lib, clingo_ast_simplify(lib, c_cast(stm), &options, params.data(), params.size(), &arr.result,
                                          &arr.result_size));
    std::vector<Statement> res;
    res.reserve(arr.result_size);
    std::for_each_n(arr.result, arr.result_size, [&res](clingo_ast *&ast) {
        auto *cpy = ast;
        ast = nullptr;
        res.emplace_back(construct_statement(cpy));
    });
    return res;
}

void register_module(pybind11::module &m) {
    auto ast = m.def_submodule("ast", doc(R"(
This module provides functions to work with Abstract Syntax Trees of logic programs.
)"));

    auto py_projection_mode =
        py::enum_<ProjectionMode>(ast, "ProjectionMode", R"doc(Available projection modes.)doc")
            .value("Disabled", ProjectionMode::Disabled, R"doc(Do not project.)doc")
            .value("Anonymous", ProjectionMode::Anonymous, R"doc(Only project anonymous variables.)doc")
            .value("Pure", ProjectionMode::Pure, R"doc(Project pure variables.)doc");

    ast.def("_type_info_yaml", &clingo_ast_type_info_yaml, doc(R"(
Return a yaml description of the AST.

This can be used to auto-generate most of the binding.)"));
{%  for type_name, type in types.items() -%}
{%    set c_type_name = type_name | camel -%}
{%    if type.type == 'enum' %}
    auto py_{{ type_name }} = py::enum_<{{ c_type_name }}>(ast, "{{ c_type_name }}", R"doc({{ type.doc }})doc");
{%    elif type.type == 'record' %}
    auto py_{{ type_name }} = py::class_<{{ c_type_name }}>(ast, "{{ c_type_name }}", R"doc({{ type.doc | doc }})doc");
{%    endif %}
{%- endfor %}
{%  for type_name, type in types.items() -%}
{%    set c_type_name = type_name | camel -%}
{%    if type.type == 'enum' %}
    py_{{ type_name }}
{%-     for value_name, value_type in type["values"].items() %}
        .value("{{ value_name | camel }}", {{ c_type_name }}::{{ value_name | camel }}, R"doc({{ value_type.doc }})doc")
{%-       if loop.last %};{% endif -%}
{%-     endfor %}
{%    elif type.type == 'record' %}
    py_{{ type_name }}
        .def(py::init(&{{ c_type_name }}::construct), py::arg("lib")
        {%- for argument_name, argument in type.arguments.items() -%}
            , py::arg("{{ argument_name }}")
            {%- if "default" in argument %}
              {%- if argument.type == "bool" %} = {{ argument.default | string | lower }}
              {%- elif types[argument.type].type == "array" and argument.default == "empty" %} = {{ argument.type | camel }}{}
              {%- elif types[argument.type].type == "optional" and argument.default == "empty" %} = std::nullopt
              {%- endif %}
            {%- endif %}
        {%- endfor %}, R"doc(Construct a {{ c_type_name }} object.

Parameters
----------
lib
    The library object for storing symbols.
{%-     for argument_name, argument in type.arguments.items() %}
{{ argument_name }}
{{ argument.doc | param_doc }}
{%-     endfor %})doc")
        .def("__str__", &{{ c_type_name }}::to_string)
        .def("__hash__", &{{ c_type_name }}::hash)
{%-     for argument_name, argument in type.arguments.items() %}
        .def_property_readonly("{{argument_name}}", &{{ c_type_name }}::{{argument_name}}, R"doc({{ argument.doc }})doc")
{%-     endfor %}
        // generate comparison operators
        CLINGO_PY_TOTAL_ORDER;
{%    endif %}
{%- endfor %}
    py::class_<Scanner>(ast, "Scanner", R"doc( Scanner to parse statements.)doc")
        .def(py::init<Library &, char const *>(), py::arg("lib"), py::arg("program"),
            R"doc(Create a scanner to parse from the given string.

Parameters
----------
lib
    A library object to store symbols.
program
    The program to parse.
)doc")
        .def(py::init<Library &, std::vector<std::string>>(), py::arg("lib"), py::arg("files"), R"(
Create a scanner to parse from the given files.

The scanner follows clingo's handling of files on the command line. Filename
"-" is treated as "STDIN" and if an empty list is given, then the parser will
read from "STDIN".

Parameters
----------
lib
    A library object to store symbols.
files
    A list of files to parse.
)")
        .def("__enter__", [](Scanner &scanner) -> Scanner & { return scanner; }, R"(Return self.)")
        .def("__iter__", &Scanner::iter, R"(Return an iterator over parsed statements.)")
        .def(
            "__exit__",
            [](Scanner &scanner, py::object, py::object, py::object) -> bool {
                scanner.close();
                return false;
            },
            R"doc(Close the scanner object.)doc");
    ast.def("parse_term", &parse_term, py::arg("lib"), py::arg("string"), R"doc(Parse a term.

Parameters
----------
lib
    The library object for storing symbols.
string
    The string to parse.

Returns
-------
The parsed Term object.)doc");
    ast.def("parse_theory_term", &parse_theory_term, py::arg("lib"), py::arg("string"), R"doc(Parse a theory term.

Parameters
----------
lib
    The library object for storing symbols.
string
    The string to parse.

Returns
-------
The parsed TheoryTerm object.)doc");
    ast.def("parse_literal", &parse_literal, py::arg("lib"), py::arg("string"), R"doc(Parse a literal.

Parameters
----------
lib
    The library object for storing symbols.
string
    The string to parse.

Returns
-------
The parsed Literal object.)doc");
    ast.def("parse_head_literal", &parse_head_literal, py::arg("lib"), py::arg("string"), R"doc(Parse a head literal.

Parameters
----------
lib
    The library object for storing symbols.
string
    The string to parse.

Returns
-------
The parsed HeadLiteral object.)doc");
    ast.def("parse_body_literal", &parse_body_literal, py::arg("lib"), py::arg("string"), R"doc(Parse a body literal.

Parameters
----------
lib
    The library object for storing symbols.
string
    The string to parse.

Returns
-------
The parsed BodyLiteral object.)doc");
    ast.def("parse_statement", &parse_statement, py::arg("lib"), py::arg("string"), R"doc(Parse a statement.

Parameters
----------
lib
    The library object for storing symbols.
string
    The string to parse.

Returns
-------
The parsed Statement object.)doc");
    ast.def("simplify_statement", &simplify_statement, py::arg("lib"), py::arg("statement"),
            py::arg("parameters") = std::vector<std::string>{}, py::arg("project_mode") = ProjectionMode::Pure,
            py::arg("project_anonymous") = false,
            R"doc(Simplify the given statement.

Parameters
----------
lib
    The library object for storing symbols.
statement
    The statement to simplify.
parameters
    The parameters to exempt from simplification.
project_mode
    Which variables to project.
project_anonymous
    Whether to project anonymous variables in negative literals.

Returns
-------
A list of simplified statements.)doc");
}

}
