#pragma once

#include <pybind11/functional.h>
#include <pybind11/operators.h>
#include <pybind11/pybind11.h>

#include "core.hh"
#include "symbol.hh"

namespace Clingo::AST {

namespace py = pybind11;

using Clingo::Symbol::Symbol;

template <class... Ts>
auto c_cast(std::variant<Ts...> const &var) -> clingo_ast_t*;

template <class T>
auto c_cast(std::vector<T> const &arr) -> std::vector<clingo_ast_t*>;

{% for type in types -%}
{%    if type.type == 'forward' %}
class {{ type.name | camel }};
{%    elif type.type == 'optional' %}
using {{ type.name | camel }} = std::optional<{{ type.value_type | camel }}>;
{%    elif type.type == 'array' %}
using {{ type.name | camel }} = std::vector<{{ type.value_type | camel }}>;

auto construct_{{ type.name }}(clingo_ast_t **ast, size_t size) -> {{ type.name | camel }};
{%    elif type.type == 'union' %}
using {{ type.name | camel }} = std::variant<{{ type.types | map("camel") | join(", ") }}>;

auto construct_{{ type.name }}(clingo_ast_t *ast) -> {{ type.name | camel }};
{%    elif type.type == 'enum' %}
enum class {{ type.name | camel }} {
{%-     for name, attr in type["values"].items() %}
    {{ name | camel }} = {{ attr.value }},
{%-     endfor %}
};
{%    elif type.type == 'record' %}
{% include "_record_declare_cpp.j2" %}
{%    endif %}
{%- endfor %}
{%- for type in types -%}
{%    set type_name = type.name | camel -%}
{%    if type.type == 'array' %}
{%      if type_map[type.value_type].type == "union" -%}
{%        set cons = "construct_" + type.value_type -%}
{%      else -%}
{%        set cons = type.value_type | camel + "::acquire" -%}
{%      endif -%}
auto construct_{{ type.name }}(clingo_ast_t **ast, size_t size) -> {{ type_name }} {
    {{ type_name }} ret;
    try {
        ret.reserve(size);
        std::for_each_n(ast, size, [&ret](auto &arg){
            auto tmp = arg;
            arg = nullptr;
            ret.emplace_back({{ cons }}(tmp));
        });
        clingo_ast_array_free(ast, size);
    }
    catch (...) {
        clingo_ast_array_free(ast, size);
        throw;
    }
    return ret;
}
{%    elif type.type == 'union' %}
auto construct_{{ type.name }}(clingo_ast_t *ast) -> {{ type_name }} {
    clingo_ast_type_t type;
    if (!clingo_ast_get_type(ast, &type)) {
        clingo_ast_free(ast);
        throw std::runtime_error("could not get type");
    }
    switch (type) {
{%-     for sub_type in type.types | flatten_types(type_map) %}
        case clingo_ast_type_{{sub_type}}: {
            return {{ sub_type | camel }}::acquire(ast);
        }
{%-     endfor %}
    }
    throw std::runtime_error("unexpected ast type");
}
{%    elif type.type == 'record' %}
{%- include "_record_define_cpp.j2" %}
{%    endif %}
{%- endfor %}
template <class... Ts>
auto c_cast(std::variant<Ts...> const &var) -> clingo_ast_t* {
    return std::visit([](auto const &x) { return c_cast(x); }, var);
}

template <class T>
auto c_cast(std::vector<T> const &arr) -> std::vector<clingo_ast_t*> {
    std::vector<clingo_ast_t*> ret;
    ret.reserve(arr.size());
    for (auto const &x : arr)  {
        ret.emplace_back(c_cast(x));
    }
    return ret;
}

void register_module(pybind11::module &m) {
    auto ast = m.def_submodule("ast", doc(R"(
TODO
)"));

    ast.def("_type_info_yaml", &clingo_ast_type_info_yaml, doc(R"(
TODO
)"));

{{ register[:-1] -}}
}

}
