class {{ type.name | camel }} {
public:
    // Note: for pybind
    {{ type.name | camel }}() = default;

    {{ type.name | camel }}({{ type.name | camel }} const &x) {
        if (!clingo_ast_copy(x.ast_, &ast_)) {
            throw std::runtime_error("could not copy ast");
        }
    }

    {{ type.name | camel }}({{ type.name | camel }} &&x) noexcept {
        std::swap(ast_, x.ast_);
    }

    auto operator=({{ type.name | camel }} const &x) -> {{ type.name | camel }}& {
        clingo_ast_free(ast_);
        ast_ = nullptr;
        if (!clingo_ast_copy(x.ast_, &ast_)) {
            throw std::runtime_error("could not copy ast");
        }
        return *this;
    }

    auto operator=({{ type.name | camel }} &&x) noexcept -> {{ type.name | camel }}& {
        std::swap(ast_, x.ast_);
        return *this;
    }

    [[nodiscard]] auto hash() const -> size_t {
        return clingo_ast_hash(ast_);
    }

    friend auto operator==({{ type.name | camel }} const &a, {{ type.name | camel }} const &b) -> bool {
        return clingo_ast_equal(a.ast_, b.ast_);
    }

    friend auto operator<({{ type.name | camel }} const &a, {{ type.name | camel }} const &b) -> bool {
        return clingo_ast_less_than(a.ast_, b.ast_);
    }

    CLINGO_CPP_TOTAL_ORDER(friend, {{ type.name | camel }})

    auto to_string() -> std::string {
        size_t len = 0;
        if (!clingo_ast_to_string_size(ast_, &len)) {
            throw std::runtime_error("could convert to string");
        }
        std::string str;
        str.resize(len);
        if (!clingo_ast_to_string(ast_, str.data(), len)) {
            throw std::runtime_error("could convert to string");
        }
        if (!str.empty() && str.back() == '\0') {
            str.pop_back();
        }
        return str;
    }

    ~{{ type.name | camel }}() {
        clingo_ast_free(ast_);
    }
{% for argument in type.arguments -%}
{% if argument.type == 'location' %}
    auto {{ argument.name }}() -> clingo_location_t;
{% elif argument.type == 'string' %}
    auto {{ argument.name }}() -> char const *;
{% elif argument.type == 'number' %}
    auto {{ argument.name }}() -> int;
{% elif argument.type == 'bool' %}
    auto {{ argument.name }}() -> bool;
{% elif argument.type == 'symbol' %}
    auto {{ argument.name }}() -> Symbol;
{% else %}
    auto {{ argument.name }}() -> {{ argument.type | camel }};
{% endif %}
{%- endfor %}
    static auto acquire(clingo_ast_t *ast) -> {{ type.name | camel }} {
        return {ast};
    }

    static auto construct(Library const &lib{% for argument in type.arguments %}, {{ argument.type | cref }}{{ argument.name }}{% endfor %}) -> {{ type.name | camel }};

    friend auto c_cast({{ type.name | camel }} const &x) -> clingo_ast_t *;

private:
    {{ type.name | camel }}(clingo_ast_t *ast) : ast_{ast} { }

    clingo_ast_t *ast_ = nullptr;
};

inline auto c_cast({{ type.name | camel }} const &x) -> clingo_ast_t * {
    return x.ast_;
}
