class {{ type_name }} {
public:
    // Note: for pybind
    {{ type_name }}() = default;

    {{ type_name }}({{ type_name }} const &x) {
        if (!clingo_ast_copy(x.ast_, &ast_)) {
            throw std::runtime_error("could not copy ast");
        }
    }

    {{ type_name }}({{ type_name }} &&x) noexcept {
        std::swap(ast_, x.ast_);
    }

    auto operator=({{ type_name }} const &x) -> {{ type_name }}& {
        clingo_ast_free(ast_);
        ast_ = nullptr;
        if (!clingo_ast_copy(x.ast_, &ast_)) {
            throw std::runtime_error("could not copy ast");
        }
        return *this;
    }

    auto operator=({{ type_name }} &&x) noexcept -> {{ type_name }}& {
        std::swap(ast_, x.ast_);
        return *this;
    }

    [[nodiscard]] auto hash() const -> size_t {
        return clingo_ast_hash(ast_);
    }

    friend auto operator==({{ type_name }} const &a, {{ type_name }} const &b) -> bool {
        return clingo_ast_equal(a.ast_, b.ast_);
    }

    friend auto operator<({{ type_name }} const &a, {{ type_name }} const &b) -> bool {
        return clingo_ast_less_than(a.ast_, b.ast_);
    }

    CLINGO_CPP_TOTAL_ORDER(friend, {{ type_name }})

    auto to_string() -> std::string {
        size_t len = 0;
        if (!clingo_ast_to_string_size(ast_, &len)) {
            throw std::runtime_error("could convert to string");
        }
        std::string str;
        str.resize(len);
        if (!clingo_ast_to_string(ast_, str.data(), len)) {
            throw std::runtime_error("could convert to string");
        }
        if (!str.empty() && str.back() == '\0') {
            str.pop_back();
        }
        return str;
    }

    ~{{ type_name }}() {
        clingo_ast_free(ast_);
    }

{{ decl[:-1] }}
    static auto acquire(clingo_ast_t *ast) -> {{ type_name }} {
        return {ast};
    }

    {{ cons_decl }};

    friend auto c_cast({{ type_name }} const &x) -> clingo_ast_t *;

private:
    {{ type_name }}(clingo_ast_t *ast) : ast_{ast} { }

    clingo_ast_t *ast_ = nullptr;
};

inline auto c_cast({{ type_name }} const &x) -> clingo_ast_t * {
    return x.ast_;
}
